.voucherList {
  display: flex;
  flex-direction: column;
  max-height: 400px;
  overflow-y: scroll;
  .voucherItemWrapper {
    margin-top: 10px;
    background-color: rgb(172, 241, 225);
    padding: 10px 10px;
    border-radius: 13px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .selectBtn {
      background-color: rgb(137, 218, 199);
      padding: 10px 10px;
      border-radius: 13px;
      cursor: pointer;
      &:hover {
        background-color: rgb(121, 198, 180);
      }
    }
    .disableSelectBtn {
      background-color: rgb(172, 186, 183);
      padding: 10px 10px;
      border-radius: 13px;
      font-size: 0.7rem;
      cursor: not-allowed;
    }
  }
}
