@import "tailwindcss/base";
@import "tailwindcss/components";

// /* Additional styles */
@import "../assets/styles/additional-styles/utility-patterns.scss";
@import "../assets/styles/additional-styles/range-slider.scss";
@import "../assets/styles/additional-styles/toggle-switch.scss";
// @import "../assets/styles/additional-styles/theme.scss";

@import "tailwindcss/utilities";
* {
  $primary-color: #4ebec0;
  margin: 0;
  // font-size: 13px;
  ul {
    list-style: none;
  }
  a {
    text-decoration: none !important;
    color: black !important;
  }
}
