.container {
  width: 100%;
  .topMenu {
    background-color: white;
    // padding-top: 10px;
    padding: 5px 60px;
    height: 70px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 999 !important;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
    .left {
      display: flex;
      align-items: center;
      .logo {
        cursor: pointer;
        margin-right: 30px;
      }
      .searchBarContainer {
        border: 2px solid rgb(176, 176, 176);
        border-radius: 7px;
        input {
          width: 353px;
          border-radius: 7px;

          outline: none;
          padding: 10px 10px;
          font-size: 13px;
        }
        button {
          border-top-right-radius: 7px;
          border-bottom-right-radius: 7px;
          padding: 10px 10px;
          background-color: rgb(196, 196, 196);
          font-size: 13px;
          cursor: pointer;
        }
      }
    }
    .right {
      display: flex;
      align-items: center;
      cursor: pointer;
    }
  }
  .bottomMenu {
    padding: 5px 41px;
    background-color: white;
    margin-top: 65px;
    height: 40px;
    font-size: 15px;
    display: flex;
    align-items: center;
    ul {
      display: flex;
      align-items: center;
      flex: row;
      margin-left: 22px;
      li {
        margin-right: 10px;
        cursor: pointer;
      }
    }
  }
}
