@import "../../assets//styles/globalstyle.scss";
.communityContainer {
  width: 100%;

  .communityContent {
    margin: 50px 120px;
    .createNewPostBtn {
      background-color: $primary-color;
      width: fit-content;
      padding: 10px;
      border-radius: 7px;
      margin-bottom: 30px;
      color: #fff;
      cursor: pointer;
      a {
        color: #fff !important;
      }
    }
    .mainPost {
      margin-bottom: 30px;
      .imgPost {
        width: 100% !important;
        height: 400px !important;
        object-fit: cover !important;
        border-radius: 10px !important;
      }
      .postInfo {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        align-items: center;
        .postItem {
          font-size: 16px !important;
          display: flex;
          flex-direction: row;
          margin-right: 10px;
          align-items: center;
          .tagItem {
            margin: 5px;
          }
          .userAvt {
            width: 30px;
            height: 30px;
            border-radius: 999px !important;
            margin-right: 10px;
          }
        }
      }
      .postTitle {
        font-size: 25px;
        font-weight: 600;
        margin-top: 10px;
        transition: all 0.2s linear;
        &:hover {
          color: $font-color !important;
        }
      }
      .postBody {
        width: 100%;
        white-space: normal;
        max-height: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .postList {
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
      grid-gap: 30px;
      // .postListItem {
      //   flex-basis: 45%;
      //   margin: 10px;
      // }
      .imgPost {
        width: 100%;
        height: 230px;
        object-fit: cover;
        border-radius: 10px;
      }
      .postInfo {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        align-items: center;
        .postItem {
          font-size: 16px !important;
          display: flex;
          flex-direction: row;
          margin-right: 10px;
          align-items: center;

          .userAvt {
            width: 30px;
            height: 30px;
            border-radius: 999px;
            margin-right: 10px;
          }
        }
      }
      .tagList {
        display: flex;
        flex-wrap: wrap;
        margin-top: 5px;
        .tagItem {
          margin: 5px 5px 0 0;
        }
      }
      .postTitle {
        font-size: 16px;
        font-weight: 600;
        margin-top: 10px;
        transition: all 0.2s linear;
        &:hover {
          color: $font-color !important;
        }
      }
      .postBody {
        width: 100%;
        font-size: 13px;
        text-transform: none !important;
        text-decoration: none !important;
        white-space: normal;
        max-height: 62px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

@media (max-width: 576px) {
  .communityContent {
    margin: 50px 20px !important;
  }
  .postInfo {
    justify-content: start !important;
    align-items: flex-start !important;
    flex-direction: column !important;
  }
  .mainPost {
    margin-bottom: 30px;
    .imgPost {
      width: 100% !important;
      height: 230px !important;
      object-fit: cover !important;
      border-radius: 10px !important;
    }
  }
  .postList {
    display: flex !important;
    flex-direction: column !important;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .communityContent {
    margin: 50px 20px !important;
  }
  .postInfo {
    flex-direction: column !important;
  }
  .mainPost {
    margin-bottom: 30px;
    .imgPost {
      width: 100% !important;
      height: 230px !important;
      object-fit: cover !important;
      border-radius: 10px !important;
    }
  }
  .postList {
    display: flex !important;
    flex-direction: column !important;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .communityContent {
    margin: 50px 60px !important;
  }
}

@media (min-width: 1025px) {
}
