$primary-color: #0ed3cf;
$font-color: #3da1a3;
$hover-color: #37a9ab;
$hover-color--light: #56e0dd;
.btn {
  border-radius: 7px;
  background-color: white;
  padding: 10px 20px;
  color: #fff;
  width: fit-content;
  cursor: pointer;
  background-color: $primary-color;
  transition: all 0.2s linear;
  &:hover {
    background-color: $hover-color--light;
  }
}
