.rankingContainer {
  background-color: #f5f5f5;
}
.rankingContent {
  margin: 10px 100px;
  .wrapper {
    border-radius: 10px;
    padding: 20px 20px;
    display: block;
    background-color: white;
    .header {
      .headerTitle {
        font-size: x-large;
        font-weight: 600;
      }
      .navWrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 10px;
      }
      .nav {
        display: flex;
        flex-direction: row;
        margin: 10px 0;
        .navItem {
          margin-right: 15px;
        }
      }
    }
  }
}
